@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --white: #efeaea;
}

body {
    background-color: var(--white);
    font-family: "Imprima", sans-serif;
}

.buenard {
    font-family: "Buenard", serif;
}

.card-shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.lazy-load-image-background {
    display: block !important;
}

.browseAllPlants {
    background-image: url("./Components/Assets/img/leaves.webp");
}

.browseHousePlants {
    background-image: url("./Components/Assets/img/house.webp");
}

.browseAquaticPlants {
    background-image: url("./Components/Assets/img/aquatic.webp");
}

.browseAllPlants,
.browseHousePlants,
.browseAquaticPlants {
    background-size: cover;
    background-position: center;
}

@media (max-width: 768px) {
    .nav_links-border-bottom-sm {
        border-bottom: 1px solid rgb(156 163 175);
        /* rgb is equivalent to tailwind gray-400 */
        z-index: -1;
        /* this is so it doesn't overlap with hamburger menu bar when
        coming down */
    }
}

@media (min-width: 1280px) {
    .productCard:hover > .productCardImg {
        opacity: 0.5;
    }
    .productCard:hover > .productCardAction {
        transform: translateX(0);
    }
}
