@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --white: #efeaea;
}

body {
    background-color: var(--white);
}

.nav_border-bottom-sm {
    border-bottom: 1px solid rgb(156 163 175);
    /* rgb is equivalent to tailwind gray-400 */
}

@media (max-width: 768px) {
    .nav_links-border-bottom-sm {
        border-bottom: 1px solid rgb(156 163 175);
        /* rgb is equivalent to tailwind gray-400 */
        z-index: -1;
        /* this is so it doesn't overlap with hamburger menu bar when
        coming down */
    }
}
